@page
@model WebApp.Pages.Configurations.IndexModel

@{
    ViewData["Title"] = "Configurations";
}

<h1>Configurations</h1>

<p>
    <a asp-page="Create">Create a New Configuration</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].BoardSizeWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].BoardSizeHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].GridSizeWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].GridSizeHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].WinCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configurations[0].MovePieceAfterNMoves)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Configurations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardSizeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardSizeHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GridSizeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GridSizeHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovePieceAfterNMoves)
            </td>
            <td>
                <a asp-page="./Details" asp-route-name="@item.Name">Details</a> |
                <a asp-page="./Delete" asp-route-name="@item.Name">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<br/>
<p>
    <a asp-page="/Options">Back to Options</a>
</p>
